{% extends "StephaneBlogBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Index{% endblock %}
{% block stephane_body %}
<div class="panel panel-primary">
    <!-- Default panel contents -->
	<div class="panel-heading">Articles</div>
	<div class="panel-body">
	<p>Les articles disponibles...</p>
	</div>

	<!-- List group -->
	<ul class="list-group">
	    {% for article in listeArticles %}
		<li class="list-group-item">
			<form method="post" enctype="multipart/form-data" action="{{ path('stephane_blog_modifier', {id:article.id}) }}">
				<div class="container-fluid">
 					<!-- <a href="{{ path('stephane_blog_voir', { id: article.id }) }}" class="col-md-8">{{ article.titre }}</a> -->
 					<a href="{{ path('stephane_blog_voir_slug', { slug: article.slug }) }}" class="col-md-8">{{ article.titre }}</a>
  					<input type="submit" class="btn btn-primary" value="Modifier" class="col-md-4">
				</div>				
			</form>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}